# ONLY INCLUDE /Config/, /Source/, /Content/ & *.uproject
#
################################################


/Binaries/*

#/Build/*

/Intermediate/*

/Saved/*

/Documentation/*


*.sdf

*.sln

*.suo